:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    cursor: pointer;
}

.cell.x::before,
.cell.o::before {
    content: attr(data-content);
}

.cell.x {
    color: red;
}

.cell.o {
    color: blue;
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-size: 5rem;
}

.winning-message.show {
    display: flex;
}

#restartButton {
    font-size: 3rem;
    padding: .5em 1em;
    cursor: pointer;
}
